/*space for maria's nav style */
nav{
  height: 10vh;
  background:rgb(255, 229, 85);
}
.topNav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  justify-content:center;
}

 .topNavList {
    display: inline-block;
    margin-left: 70px;
    padding: 0;
    
  }
  .topNavList1 {
    display: inline-block;
    margin-left: 70px;
    padding: 0;
    
  }
  .topNavList a {
    display: block;
    color: black;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px;
   
  } 

  .topNavList1 a {
    display: block;
    color: black;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px;
  
  } 
  
  .topNavList a:hover {
    background-color:rgb(252, 222, 56);
    border-style: groove rgb(252, 222, 56) 1px;
    border-radius: 40px;
  }

  .topNavList1 a:hover {
    background-color:rgb(252, 222, 56);
    border-style: groove rgb(252, 222, 56) 1px;
    border-radius: 40px;
  }
  
  .active {
    font-weight: bold;
  }

   .nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
} 

.nav-links1 {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  
 
} 
.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  @media screen and (max-width: 768px) {

    .line{
        width: 30px;
        height: 3px;
        background:white;
        margin: 5px;

    }
    nav {
      position: relative;
  }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        transform: translate(-5%, -50%);
    }

    .nav-links {
        position: fixed;
        background:rgb(255, 229, 85);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%00);
        -webkit-clip-path: circle(100px at 90% -10%00);
        transition: all 1s ease-out;
    }
    .nav-links.open{
        clip-path: circle(100px at 90% -10%00);
        -webkit-clip-path: circle(1000px at 90% -10%00);
    }
    .landing{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

  nav {
    position: relative;
}

  .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 20%;
      transform: translate(-5%, -50%);
    
  }


  .topNavList1 {
    float: left;
  }
  .topNavList1 a {
    padding: 20px 30px;
  }
  .hamburger .nav-links1 {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav-links1 .topNavList1 {
    display: table(hamburger);
  }
}
/*For the whole thing*/
body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;

}

/* These are the main title headings 1&2 */
.pageTop {
    font-family: 'Noto Serif JP', serif;
    background-color: rgb(255, 229, 85);
    text-align: center;
    padding: 1px;
    margin: 0px;
  }
h1 {
    font-size: 7vw;
    letter-spacing: 3px;
    margin: 0;
    
}
h2 {
    font-size: 3vw;
    text-align: right;
    margin: 0px 30px 20px 0px;
}

/*This is the page theme ie dairy/nuts/gluten */
.pageTopic {
    font-family: 'Noto Serif JP', serif;
    text-align: left;
    font-size: 5vw;
    margin-left: 30px;
    color: rgb(238, 175, 1);
}


/*This is the content grid for the main recipes pages*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    grid-gap: 10px 0px;
    max-width: max-content;
    margin: 3%;

  }
  .grid-itemPhoto {
    background-color: rgba(255, 255, 255);
    border: double rgb(255, 179, 15) 5px;
    padding: 0px;
    margin: 0px;
    max-height: max-content;
  }

  .grid-itemText {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
    padding: 100px 15px;
    font-size: 3vw;
    text-decoration: none;
    text-align: left;
    line-height: 1.5;
  }

/*This is the footer with button links hopefully!*/
footer {
    font-size: 12px;
    background-color: rgb(255, 229, 85);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    padding-top: 5px;
}

.footer__links {
  font-size: 24px;
  color: black;
}

.footer__links:hover {
  color: rgba(0, 0, 0, 0.486);
}


/*This is the grid layout for the index gallery page*/
.recipes-index-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
  max-width: max-content;
  margin: 3%;
}

.grid-indexPhoto {
  background-color: rgba(255, 255, 255);
  border: double rgb(255, 179, 15) 5px;
  padding: 0px;
  max-height: max-content;
  position: relative;
  width: auto;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 0.25s;
  background-color: rgba(252, 219, 36, 0.63);
}

.grid-indexPhoto:hover .overlay {
  opacity: 1;
}

.hover-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 15%;
}

/*This is the formatting for the comment page*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgba(252, 219, 36, 0.63);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #030301;
}

.container {
  border-radius: 5px;
  background-color: #f0e794;
  padding: 20px;
}



/*This is the carousel CSS styling */

.carousel{
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0px;
  cursor: pointer;
}
.carousel__button--left{
  left:-40px;
}

.carousel.carousel__button--right {
  right:-40px;
}
.carousel__button img{
  width: 12px;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;

}

.carousel__indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background:rgba(0,0,0,.3);
  margin: 0 12px; 
  cursor: pointer;
}

.carousel__indicator.current-slide{
  background: rgba(0,0,0,.75);
}

.carousel_button--left, .carousel_button--right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.recipes{
  color: rgb(233, 236, 15);
  text-decoration: none;
}




